<?xml version="1.0" encoding="utf-8"?>
    <packages>
	  <package id="git" />
	  <package id="putty" />
	  <package id="dotnet4.5" />
	  <package id="robo3t" />
	  <package id="vscode" />
	  <package id="python3" />
	  <package id="dotnet4.6.1" />
	  <package id="sql-server-management-studio" />	  
	  <package id="postman" />
	  <package id="nodejs" />
	  <package id="curl" />
	  <package id="ruby" />
	  <package id="chocolateygui" />
	  <package id="rabbitmq" />
	  <package id="heidisql" />
	  <package id="visualstudio2019community" />  
	  <package id="beyondcompare" />  
	  <package id="postgresql" />  
    </packages>
	
	
                        
                         